<!DOCTYPE html>
<html>
<head>
	<title>AUXILIUM</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.ico">
<!--
    ============================================
    CSS FILES
    ============================================-->
    <!--Normalise CSS-->
    <link rel="stylesheet" type="text/css" href="stylesheets/normalise.css">
    <!--Bootstrap CSS-->
    <link rel='stylesheet' type="text/css" href="stylesheets/bootstrap.min.css">
    <!--Main Website CSS-->
    <link rel='stylesheet' type="text/css" href="stylesheets/main.css">
    <!--For General Animations-->
    <link rel='stylesheet' type="text/css" href="stylesheets/animate.css">
    <!--Font Awesome-->
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.css">

    <!--
    ============================================
    JS FILES
    ============================================-->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="javascripts/bootstrap.min.js"></script>
    <!--Main Website JS-->
    <script type="text/javascript" src="javascripts/main.js"></script>
    <!--For using animate with scroll-->
    <script type="text/javascript" src=javascripts/wow.min.js></script>
    <!--For initializing Wow-->
    <script type="text/javascript">new WOW().init();</script>
    <!--Load function-->
    <script type="text/javascript" src="javascripts/load-places.js"></script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initMap() {
        var manipal = {lat: 13.3605, lng: 74.7864};

        map = new google.maps.Map(document.getElementById('map'), {
          center: manipal,
          zoom: 15
        });

        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: manipal,
          radius: 500,
          type: ['food']
        }, callback);
      }

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
            //console.log(results[i])
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
      </script>

</head>
<body>

	<!--
	============================================
	HEADER SECTION START
	============================================-->

	<header id="top-bar" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                
                <!-- logo -->
                <div class="navbar-brand">
                    <a href="index" >
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <!-- /logo -->
            </div>
            <!-- main menu -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <div class="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index" >Home</a>
                        </li>
                        <li class="dropdown">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services<span class="caret"></span></a>
    						<ul class="dropdown-menu">
    							<li><a href="b&b">B&B</a></li>
                                <li><a href="market">Market</a></li>
                                <!-- <li><a href="campus">Campus News</a></li> -->
                                <li><a href="places">Nearby Places</a></li>
                                <li><a href="promotions">Promotions</a></li>
    						</ul>
  						</li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>
    <!--
	============================================
	HEADER SECTION END
	============================================-->


    <!--
    ============================================
    MAIN SECTION STARTS
    ============================================-->

    <section id="places-main-section">
        <div class="container">
            <div class="row row-centered">
                <div class="col-lg-12 text-center">
                    <h1 class="page-header wow animated fadeInDown" data-wow-delay=".3s">Nearby Places</h1>
                </div>
            </div>
        </div>
    </section>

    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap" async defer></script>

    <!--==================================================
    Footer Section Start
    ================================================== -->
    <footer id="footer">
        <hr>
        <div class="container">
            <div class="col-md-8">
                <a href="http://madewithlove.org.in" target="_blank">Made with <span style="color: #e74c3c">&hearts;</span> in India by Anuraag Baishya and Ishan Jain</a>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <a href="https://github.com/anuraag-baishya/Auxilium" class="GitHub">
                            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer> <!-- /#footer -->
</body>
</html>